button {
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 20px;
}

nav {
    margin-top: 15px;
}

.basket-header {
    margin: 0
}