.pagination {
    display: flex;
    gap: 5px;
    margin-top: 20px;

    button {
        padding: 5px 10px;
        cursor: pointer;

        &.active {
            background-color: #d2193e;
            color: white;
        }

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}

mat-icon {
    padding-left: 6px;
}