.payment-details-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
  margin-bottom: 18px;
  background-color: rgb(255, 246, 246);

  &__way-to-pay-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  &__address {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

.input-wrapper {
  display: flex;
  flex-direction: row;
}

.flush-value {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: rgb(255 159 159 / 58%);
  color: rgb(146, 0, 0);
  border-radius: 50%;
}
