<form class="payment-details-form" [formGroup]="paymentDetailsForm">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Способ оплаты</mat-label>
    <mat-select formControlName="wayToPay" (selectionChange)="wayToPayChange($event)">
      <mat-option [value]="paymentOnline.sysName"> {{ paymentOnline.description }}</mat-option>
      <mat-option [value]="paymentByCard.sysName"> {{ paymentByCard.description }}</mat-option>
      <mat-option [value]="paid.sysName"> {{ paid.description }}</mat-option>
    </mat-select>
    @if (hasError('wayToPay', 'required')) {
    <mat-error>Поле обязательно для заполнения</mat-error>
    }
  </mat-form-field>
  @if(paymentDetailsForm.get('wayToPay')?.value === paymentOnline.sysName){
  <mat-form-field>
    <mat-label>Номер карты</mat-label>
    <input
      matInput
      formControlName="cardNumber"
      placeholder="XXXX-XXXX-XXXX-XXXX"
      mask="0000-0000-0000-0000"
    />
    @if (hasError('cardNumber', 'required')) {
    <mat-error>Поле обязательно для заполнения</mat-error>
    } @if (hasError('cardNumber', 'minlength')) {
    <mat-error> Минимальное количество символов: 16</mat-error>
    }</mat-form-field
  >
  }

  <div formGroupName="address">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Город</mat-label>
      <input matInput formControlName="city" />
      @if (hasError('address.city', 'required')) {
      <mat-error>Поле обязательно для заполнения</mat-error>
      }@if (hasError('address.city', 'maxlength')) {
      <mat-error> Максимальное количество символов: 100</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Улица</mat-label>
      <input matInput formControlName="street" />
      @if (hasError('address.street', 'required')) {
      <mat-error>Поле обязательно для заполнения</mat-error>
      }@if (hasError('address.street', 'maxlength')) {
      <mat-error> Максимальное количество символов: 100</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Дом</mat-label>
      <input matInput formControlName="house" />
      @if (hasError('address.house', 'required')) {
      <mat-error>Поле обязательно для заполнения</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Квартира</mat-label>
      <input matInput formControlName="flat" />
      @if (hasError('address.house', 'required')) {
      <mat-error>Поле обязательно для заполнения</mat-error>
      }
    </mat-form-field>
  </div>

  @if(paymentDetailsForm.get('wayToPay')?.value !== paymentByCard.sysName) {
  <div class="checkbox-section">
    <mat-checkbox formControlName="leaveDoor"> Оставить у двери </mat-checkbox>
  </div>
  }
</form>
