.purchase-history {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px
}

.purchase-history-container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: rgb(255, 230, 230);
  box-shadow: 2px 2px 5px rgba(163, 88, 88, 0.3);
  border-radius: 5px;
  gap: 20px;
  padding: 15px;

  &__order {
    font-size: 24px;
    font-weight: 600;
    opacity: 0.7;
  }

  &__fio,
  &__address,
  &__total-amount {
    font-size: 18px;
    opacity: 0.7;
    margin: 0;
    padding: 0;
  }

  &__card {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border: none;
    box-shadow: 1px 1px 5px rgba(102, 0, 0, 0.3);
    border-radius: 5px;
    gap: 10px;
    background-color: rgb(255, 219, 219);
  }

    &__image {
    height: 100px;
    width: 100px;
    border-radius: 50% !important;
    box-shadow: 5px 5px 15px 0 rgba(102, 0, 0, 0.3);
  }
}

.history-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px
}

p {
  margin: 0;
  padding: 0;
}

.data {
  color:black;
  font-size: 16px;
}
