<div class="purchase-history">
  @for (buy of purchaseHistoryCard$ | async; track buy; let index = $index) {
    <div class="purchase-history-container">
      <p class="purchase-history-container__order">Покупка {{ index + 1 }}</p>
      <p class="purchase-history-container__fio">
        ФИО:
        <span class="purchase-history-container__data">
          {{ buy.personalData?.lastName }} {{ buy.personalData?.firstName }}
          {{ buy.personalData?.middleName }}
        </span>
      </p>
      <p class="purchase-history-container__address">
        Адрес:<span class="purchase-history-container__data">
          город {{ buy.paymentData?.address.city }}, улица {{ buy.paymentData?.address.street }},
          дом {{ buy.paymentData?.address.house }}, квартира {{ buy.paymentData?.address.flat }}
        </span>
      </p>

      <div class="purchase-history-container__card-wrapper">
        @for (product of buy.productData; track product.id) {
          <product-card [card]="product" [cardTypes]="cardTypes.HISTORY"></product-card>
        }
      </div>

      <p class="purchase-history-container__total-amount">
        Общая стоимость покупки: {{ buy.amount | currency: 'RUB' : 'symbol-narrow' }}
      </p>
    </div>
  }
</div>
