@if (card) {
  <mat-card
    [class.modal-product__card-container]="cardTypes === CARD_TYPES.MODAL"
    [class.products__card-container]="cardTypes === CARD_TYPES.PRODUCT"
    [class.payment-card__container]="cardTypes === CARD_TYPES.PAYMENT"
    appearance="outlined"
  >
    <div
      [class.products__title-wrapper]="
        cardTypes !== CARD_TYPES.MODAL && cardTypes !== CARD_TYPES.PAYMENT
      "
      class="products__title-wrapper"
    >
      @if (cardTypes === CARD_TYPES.MODAL) {
        <button matButton="elevated" class="modal-product__close-btn" (click)="closeModal()">
          X
        </button>
      }
      @if (cardTypes !== CARD_TYPES.MODAL && cardTypes !== CARD_TYPES.HISTORY) {
        <img mat-card-image [src]="card.image" class="products__image" (click)="showModal(card)" />
      }
      <mat-card-header class="kedeberdi">
        <mat-card-title class="products__title" (click)="showModal(card)">
          {{ card.title }}
        </mat-card-title>
      </mat-card-header>

      @if (cardTypes === CARD_TYPES.PAYMENT) {
        <div class="payment-card__total-wrapper">
          <mat-chip-set>
            <mat-chip> Количество: {{ getCount(card.id) }} </mat-chip>
            <mat-chip>
              Стоимость: {{ card.cost * getCount(card.id) | currency: 'RUB' : 'symbol-narrow' }}
            </mat-chip>
          </mat-chip-set>
        </div>
      }
    </div>

    @if (cardTypes !== CARD_TYPES.PAYMENT) {
      <mat-card-content>
        <div class="card-content">
          <p class="products__description kedeberdi">{{ card.description }}</p>
          @if (cardTypes === CARD_TYPES.MODAL) {
            <p class="modal-product__description kedeberdi">
              {{ card.fullDescription }}
            </p>
          }
          <mat-chip-set>
            <mat-chip class="products__cost kedeberdi">
              {{ card.cost | currency: 'RUB' : 'symbol-narrow' }}
            </mat-chip>
          </mat-chip-set>
        </div>
      </mat-card-content>
    }

    @if (cardTypes === CARD_TYPES.BASKET) {
      <div class="products__btn-wrapper">
        <div class="products__btn-action-wrapper">
          <button
            matButton="elevated"
            class="products__minus-btn"
            (click)="reduceAmountProduct(card)"
          >
            -
          </button>
          <p class="products__count">{{ getCount(card.id) }}</p>
          <button matButton="elevated" class="products__plus-btn" (click)="addProduct(card)">
            +
          </button>
        </div>
        <button matButton="elevated" class="products__delete-btn" (click)="deleteCard(card.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    }

    @if (cardTypes === CARD_TYPES.PRODUCT || cardTypes === CARD_TYPES.MODAL) {
      <button matButton="elevated" class="products__sum-btn kedeberdi" (click)="addProduct(card)">
        {{ getCount(card.id) === 0 ? 'Добавить в корзину' : getCount(card.id) + ' +' }}
      </button>
    }
  </mat-card>
}
