@if (card) {
  <mat-card [ngClass]="cardClasses" appearance="outlined">
    <div
      [class.card__title-wrapper]="
        cardTypes !== CARD_TYPES.MODAL && cardTypes !== CARD_TYPES.PAYMENT
      "
    >
      @if (cardTypes === CARD_TYPES.MODAL) {
        <button matButton="elevated" class="card__close-btn" (click)="closeModal()">X</button>
      }
      @if (cardTypes !== CARD_TYPES.MODAL && cardTypes !== CARD_TYPES.HISTORY) {
        <img mat-card-image [src]="card.image" class="card__image" (click)="showModal(card)" />
      }
      <mat-card-header class="kedeberdi">
        <mat-card-title class="card__title" (click)="showModal(card)">
          {{ card.title }}
        </mat-card-title>
      </mat-card-header>

      @if (cardTypes === CARD_TYPES.PAYMENT) {
        <div class="card__total-wrapper">
          <mat-chip-set>
            <mat-chip> Количество: {{ getCount(card.id) }} </mat-chip>
            <mat-chip>
              Стоимость: {{ card.cost * getCount(card.id) | currency: 'RUB' : 'symbol-narrow' }}
            </mat-chip>
          </mat-chip-set>
        </div>
      }
    </div>

    @if (cardTypes !== CARD_TYPES.PAYMENT) {
      <mat-card-content>
        <div class="card__content">
          <p class="card__description kedeberdi">{{ card.description }}</p>
          @if (cardTypes === CARD_TYPES.MODAL) {
            <p class="card__full-description kedeberdi">
              {{ card.fullDescription }}
            </p>
          }
          <mat-chip-set>
            <mat-chip class="card__cost kedeberdi">
              {{ card.cost | currency: 'RUB' : 'symbol-narrow' }}
            </mat-chip>
          </mat-chip-set>
        </div>
      </mat-card-content>
    }

    @if (cardTypes === CARD_TYPES.BASKET) {
      <div class="card__btn-wrapper">
        <div class="card__btn-action-wrapper">
          <button matButton="elevated" class="card__minus-btn" (click)="reduceAmountProduct(card)">
            -
          </button>
          <p class="card__count">{{ getCount(card.id) }}</p>
          <button matButton="elevated" class="card__plus-btn" (click)="addProduct(card)">+</button>
        </div>
        <button matButton="elevated" class="card__delete-btn" (click)="deleteCard(card.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    }

    @if (cardTypes === CARD_TYPES.PRODUCT || cardTypes === CARD_TYPES.MODAL) {
      <button matButton="elevated" class="card__sum-btn kedeberdi" (click)="addProduct(card)">
        {{ getCount(card.id) === 0 ? 'Добавить в корзину' : getCount(card.id) + ' +' }}
      </button>
    }
  </mat-card>
}
