<h1 class="bold">Список наших самых лучших товаров</h1>

<search-bar (searchChange)="onFiltered($event)"></search-bar>

<show-modal [(isVisible)]="isModalVisible" [selectedCard]="selectedCard"></show-modal>

<div class="product">
  @if (filteredCards.length) {
    @for (product of filteredCards; track product.id) {
      <product-card
        [card]="product"
        (isModalShow)="showModal($event)"
        [cardTypes]="cardTypes.PRODUCT"
      ></product-card>
    }
  } @else {
    <h3 class="text">Товар не найден, измените поиск</h3>
  }
</div>

<!-- @if (filteredCards.length) {
  <product-card
    [products]="filteredCards"
    (isModalShow)="showModal($event)"
    (isAddedProduct)="addProduct($event)"
    [getCountFn]="countInProducts.bind(this)"
    [showProductsBtns]="true"
    [showBasketBtns]="false"
    [closeModalBtn]="false"
    [isModal]="false"
    [isForPayment]="false"
  ></product-card>
} @else {
  <h3 class="text">Товар не найден, измените поиск</h3>
} -->

<!-- @for(product of products; track product.id) {

  <mat-card class="products__card-container" appearance="outlined">
    <div class="products__title-wrapper">
      <img mat-card-image [src]="product.image" class="products__image" (click)="showModal(product)" />
      <mat-card-header class="kedeberdi">
        <mat-card-title class="products__title" (click)="showModal(product)">{{
          product.title
          }}</mat-card-title>
      </mat-card-header>

    </div>

    <mat-card-content>
      <div class="card-content">
        <p class="products__description kedeberdi">{{ product.description }}</p>
        <p class="products__cost kedeberdi">
          {{ product.cost | currency : 'RUB' : 'symbol-narrow' }}
        </p>
      </div>
    </mat-card-content>

    <button matButton="elevated" class="products__sum-btn kedeberdi" (click)="addProduct(product)">
      {{ !getCount(product.id) ? 'Добавить в корзину' : getCount(product.id) + ' +' }}
    </button>
  </mat-card>

  } -->
