.basket-header {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.6;
}

.payment-btn {
  justify-self: center;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 20px;
  margin-left: 20px;
}
