.modal-product {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &__card-container {
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 90%;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px
  }

  &__title {
    font-size: 30px;
    opacity: 0.7;
    margin: 0;
    padding: 0;
  }

  &__description,
  &__full-description,
  &__cost {
    margin: 0;
    opacity: 0.7;
  }
}

.modal-product__close-btn {
  height: 35px;
  width: 40px;
  font-size: 15px;
}

.modal_product__sum-btn {
  margin-bottom: 8px;
  border: none;
  font-size: 15px;
}

.mat-mdc-card-content {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.mat-mdc-card-header {
  padding: 0 16px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 10px
}

