.modal-product {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &__card-container {
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 90%;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
    gap: 20px
  }

  &__title {
    font-size: 1.5em;
  }

  &__description,
  &__full-description,
  &__cost {
    margin: 0
  }
}

.modal-product__close-btn {
  height: 40px;
  width: 40px;
  font-size: 15px;
}

.modal_product__sum-btn {
  height: 40px;
  width: 140px;
  margin-bottom: 8px;
  border: none;
}

.mat-mdc-card-content {
  display: flex;
  flex-direction: column;
  gap: 10px
}