header {
  width: 100%;
  background-color: rgb(255, 151, 151);
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: rgb(50, 0, 51);
  font-weight: 500;
  font-size: 18px;
}

