.payment {
  max-width: 1200px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);


  &__product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
  }

}

.form {
  max-width: 1200px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);

  &__actions {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  &__back-btn,
  &__submit-btn {
    color: rgb(131, 0, 0) !important;
    font-size: 17px;
    border-radius: 4px;
  }
}

::ng-deep .mat-stepper-horizontal {
  background: transparent;
  margin: 20px 0;
}

::ng-deep .mat-step-header {
  padding: 16px 12px;
  margin: 0 0px;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  color: white;
}

::ng-deep .mat-step-content {
  margin: 24px 0;
  padding: 20px;
  background: #f8f9fa;
  border-radius: 8px;
  border: 1px solid #e9ecef;
}

mat-stepper {
  background-color: rgb(255, 246, 246);
}