.personal-data-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 18px;

    &__fio {
        display: flex;
        flex-direction: row;
        gap: 10px
    }

    &__birth-date {
        display: flex;
        flex-direction: row;
        gap: 10px
    }

    &__contacts {
        display: flex;
        flex-direction: row;
        gap: 10px
    }
}

.input-wrapper {
    display: flex;
    flex-direction: row;
}

.flush-value {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6e6e6e32;
    border-radius: 5px;
    padding: 2px
}