@font-face {
  font-family: Bebas-Neue;
  src: url('../public/fonts/Bebas_Neue/BebasNeue-Regular.ttf');
}

.regular {
  font-family: Bebas-Neue, sans-serif;
  font-size: 30px;
  font-weight: 500;
}

@font-face {
  font-family: Kedebideri-Bold;
  src: url('../public/fonts/Kedebideri/Kedebideri-Bold.ttf');
}

.bold {
  font-family: Kedebideri-Bold, sans-serif;
  font-size: 32px;
  font-weight: bold;
}

@font-face {
  font-family: Kedebideri-Regular;
  src: url('../public/fonts/Kedebideri/Kedebideri-Regular.ttf');
}

.kedeberdi {
  font-family: Kedebideri-Regular, sans-serif;
  font-size: 16px;
  font-weight: normal;
}
